# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.svelte-kit

# Environment
.env
.env.*
!.env.example

# Database
*.db
*.db-shm
*.db-wal
!.gitkeep

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
