services:
  todo-app-dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "5173:5173"
    volumes:
      - ./apps/backend/data:/app/apps/backend/data
    env_file:
      - apps/backend/.env
    environment:
      - NODE_ENV=development
    profiles:
      - dev

  todo-app-prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    volumes:
      - ./apps/backend/data:/app/apps/backend/data
    env_file:
      - apps/backend/.env
    environment:
      - NODE_ENV=production
    profiles:
      - prod
